on:
  push:
  pull_request:
    branches: [main]
  schedule:
    - cron: '0 6 * * 6'  # Every Saturday 6 AM
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Download source
        uses: actions/checkout@v2
      - name: Install Crystal
        uses: oprypin/install-crystal@f0b2ce0d9d45075b6da31d7130c26cfb51744ead
      - name: Install shards
        run: shards update --ignore-crystal-version
      - name: Run tests
        run: crystal spec --order=random
      - name: Check formatting
        run: crystal tool format --check
